src/main/resources/xsd/contacts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="contacts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="lastName"/>
                            <xs:element type="xs:string" name="firstName"/>
                            <xs:element type="xs:string" name="middleName"/>
                            <xs:element type="xs:string" name="firstPhoneNumber"/>
                            <xs:element type="phoneNumberType" name="firstPhoneNumberType"/>
                            <xs:element type="xs:string" name="secondPhoneNumber"/>
                            <xs:element type="phoneNumberType" name="secondPhoneNumberType"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="notes"/>
                            <xs:element name="groupList">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="id" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="phoneNumberType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MOBILE"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="WORKING"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>